body {
  background: hsl(100, 40%, 95%);
}

h1,
p {
  color: hsl(100, 35%, 55%);
}

.btn {
  color: #fff;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  background: hsl(100, 50%, 50%);
}